$primary: #382bf0;
$secondary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$info: #3dc2ff;
$light: #f4f5f8;
$medium: #92949c;
$dark: #222428;

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 6px;