//colors
$primary: #382bf0;
$secondary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$info: #3dc2ff;
$light: #f4f5f8;
$medium: #92949c;
$dark: #222428;
$white: #fff;
$black: #000;

//color palette
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "info": $info,
    "light": $light,
    "medium": $medium,
    "dark": $dark,
    "white": $white,
    "black": $black
);

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//border
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$box-shadow-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-5: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//font-size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;