@use 'sass:math';

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 10px 14px;
  background-color: $white;

  .brand-name {
    display: flex;
    align-items: center;
  }

  .brand-image {
    display: flex;
    justify-content: center;
    min-width: 40px;

    img {
      width: 40px;
      object-fit: cover;
      border-radius: math.div($base-border-radius, 2);
    }
  }
  .brand-jucelino {
    font-size: 22px;
    font-weight: 600;
    color: $black;
    margin-left: 8px;
  }
}
