@use 'sass:math';

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 10px 14px;
  background-color: $white;
  border: $base-border-thickness solid $light;

  .brand-name {
    display: flex;
    align-items: center;
  }

  .brand-the-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    color: $black;
  }

  .brand-image {
    display: flex;
    justify-content: center;
    min-width: 40px;

    img {
      width: 40px;
      object-fit: cover;
      border-radius: math.div($base-border-radius, 2);
    }
  }
}

nav.close {
  width: 73px;
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

nav.close .brand-the-name {
  opacity: 0;
  pointer-events: none;
}

nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}


[data-theme="dark"] {
  nav {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgba($color: $base-border, $alpha: 0.1);
    background-color: #132337;

    .brand-the-name {
      color: $white;
    }

  }
}


