@use 'sass:math';

.dashboard {
  position: relative;
  left: 240px;
  background-color: $white;
  height: 100%;
  width: calc(100% - 240px);
  padding: 10px 14px;

  .top {
    z-index: 9999;
    box-shadow: $box-shadow-1;
  }

  .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3 - 15px);
      padding: 15px 20px;
      background-color: $primary;
      border-radius: math.div($base-border-radius, 2);
      position: relative;

      .main-title {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
        color: $white;
      }

      i {
        font-size: 35px;
        color: $white;
      }

      .number {
        white-space: nowrap;
        font-size: 40px;
        font-weight: 600;
        color: $white;
      }
    }

    .box1 {
      background-color: #133137;

      svg {
        position: absolute;
        right: 0;
        color: #164546;
      }
    }

    .box2 {
      background-color: #3E2A21;
      overflow: hidden;

      svg {
        position: absolute;
        right: -12px;
        color: #64391E;
      }
    }

    .box3 {
      background-color: #2E244E;
      overflow: hidden;

      svg {
        position: absolute;
        right: 0;
        right: -12px;
        color: #472E6F;
      }
    }
  }

  .top {
    position: fixed;
    top: 0;
    left: 240px;
    display: flex;
    align-items: center;
    width: calc(100% - 240px);
    justify-content: space-between;
    padding: 10px 14px;
    background-color: $white;

    .sidebar-toggle {
      font-size: 28px;
      justify-content: center;
      align-items: center;
      color: $black;
      cursor: pointer;
    }

    .user-actions {
      align-items: center;
      justify-content: center;
      display: flex;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        border: none;
        margin-right: 10px;
        border-radius: math.div($base-border-radius, 2);
        cursor: pointer;
      }

      svg {
        color: $white;
        height: 24px;
        width: 24px;
      }
    }
  }

  .dash-content {
    padding-top: 70px;
    display: flex;
    align-items: center;

    .title {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 12px;
        color: $concrete;
        font-weight: 600;
      }
    }
  }
}

.dash-content i {
  color: $concrete;
  font-size: 34px;
}

.activities .title {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 20px;

  span {
    font-weight: 600;
    color: $concrete;
  }

  i {
    color: $concrete;
    font-size: 33px;
    margin-right: 12px;
  }
}

.activities table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  box-shadow: $box-shadow-1;

  thead {
    background-color: $primary;
  }

  th {
    color: $white;
    padding: .45em;
  }

  tbody tr:nth-child(even) {
    background-color: $lightTable;
  }

  th,
  td {
    padding: 1em;
    text-align: center;
  }
}

@media (max-width: 440px) {
  table {
    border: 3px solid $primary;

    thead tr {
      display: none;
    }

    tbody tr:nth-child(even) {
      background-color: $primary !important;
      color: $white;
    }

    tr {
      display: block;
    }

    th,
    td {
      padding: .5em;
    }
  }

  table td::before {
    content: attr(data-title) ": ";
    float: left;
  }

  table td {
    text-align: right !important;
    display: block;
    font-size: 1em;
  }
}


[data-theme="dark"] {

  .dashboard {
    background-color: #132337;

    .top {
      background-color: #132337;

      .sidebar-toggle {
        color: $white;
      }
    }

    .boxes {
      .box {
        .main-title {
          color: $white;
        }

        i {
          color: $white;
        }

        .number {
          color: $white;
        }
      }

      .box1 {
        background-color: #133137;
      }

      .box2 {
        background-color: #3E2A21;
      }

      .box3 {
        background-color: #2E244E;
      }
    }

    .dash-content i {
      color: $white;
      font-size: 34px;

      span {
        color: $concrete;
      }
    }

    .text {
      color: $concrete;
    }
  }

  .activities .title {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 20px;

    i {
      color: $white;
      font-size: 33px;
      margin-right: 12px;
    }
  }
}

@media (max-width: 1024px) {
  .dashboard {
    height: 100vh;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }

  nav.close {
    width: 250px;
  }

  nav .brand-the-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .brand-the-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard {
    left: 240px;
    width: calc(100% - 240px);
  }

  nav~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard .top {
    left: 240px;
    width: calc(100% - 240px);
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {

  .dashboard {
    height: 100% !important;
  }

  .dash-content .boxes .box {
    width: 100%;
  }

  nav~.dashboard .top {
    z-index: 9999;
  }

  .dashboard .boxes {
    flex-direction: column;
    .box1 {
      width: 100%;
      margin-bottom: 14px;
    }

    .box2 {
      width: 100%;
      margin-bottom: 14px;
    }

    .box3 {
      width: 100%;
    }
  }

  .dashboard .top .sidebar-toggle {
    display: none;
  }
}

@media (max-width: 500px) {

  nav {
    width: 73px;
  }

  nav.close {
    width: 73px;
  }

  nav .brand-the-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .brand-the-name {
    opacity: 0;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  .dashboard {
    height: 100% !important;
  }

  nav~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
    display: flex !important;
    justify-content: right;
    z-index: 9999;
  }

  nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  .dashboard .top .sidebar-toggle {
    display: none;
  }

  .dashboard .boxes {
    flex-direction: column;

    .box1 {
      width: 100%;
      margin-bottom: 14px;
    }

    .box2 {
      width: 100%;
      margin-bottom: 14px;
    }

    .box3 {
      width: 100%;
    }
  }
}