.sidebar__header {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.sidebar__close-icon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  visibility: visible;
  font-size: 20px;
  color: #ddd;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

@media only screen and (min-width: 46.875em) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }

  .sidebar__close-icon {
    visibility: hidden;
  }
}
